.venv/
.idea/
*.pyc
.coverage
*.synctex.gz
*.log
*.fls
*.aux
*.fdb_latexmk
*.code-workspace
*.bbl
*.bcf
*.blg
*.run.xml

mnt/KInsektDaten/
mnt/home/
.ipynb_checkpoints/
data.bak/
/data/
train_logs/
backups/
/models/
model-weights/
model-selection/
submission/
docs/Hands-On\ Machine\ Learning\ with\ Scikit-Learn,\ Keras,\ and\ TensorFlow,\ 2nd\ Edition\ by\ Aurelien\ Geron\ \[Géron,\ Aurélien\]\ \(z-lib.org\).pdf
docs/SkriptBV.pdf
