.venv/
.idea/
*.pyc
.coverage
*.synctex.gz
*.log
*.fls
*.aux
*.fdb_latexmk
*.code-workspace
*.bbl
*.bcf
*.blg
*.run.xml

mnt/KInsektDaten/
mnt/home/
.ipynb_checkpoints/
data.bak/
/data/
train_logs/
backups/
/models/
model-weights/
model-selection/
submission/
