{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block nav %}
    {% set ns.is_home = true %}
{% endblock %}
{% block content %}
    <h1 class="mt-3">Machine Learning Methods for Localization and Classification of Insects in Images</h1>

    <div class="row mt-5 align-items-center justify-content-center">
        <div class="col-auto">
            <div class="card" style="width: 25rem;">
              <img src="https://user-images.githubusercontent.com/9550040/147851048-e0c518e1-db74-4c3d-b29c-5b7222b88d61.png" class="card-img-top" style="margin: 5% 5%; width: 90%" alt="Bounding Box Regression">
              <div class="card-body">
                <h5 class="card-title">Bounding Box Regression</h5>
                <p class="card-text">Localization of insects in images using CNNs and other architectures.</p>
                <a href="/bounding-boxes" class="btn btn-primary">Go to examples.</a>
              </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card" style="width: 25rem;">
              <img src="https://user-images.githubusercontent.com/9550040/147851048-e0c518e1-db74-4c3d-b29c-5b7222b88d61.png" class="card-img-top" style="margin: 5% 5%; width: 90%" alt="Classification">
              <div class="card-body">
                <h5 class="card-title">Classification</h5>
                <p class="card-text">Classification of insects in images using CNNs and other architectures.</p>
                <a href="/classification" class="btn btn-primary">Explore examples</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
